
<div class="well">
  <h1>Examples Baboon Webtoolkit 123</h1>
  <p class="lead">Documentation with examples and demos</p>
  <p>♥ from the Baboon team by Litixsoft</p>
    <hr>
    <h4>Message Boxen</h4>
    <button ng-click="openMsgAnimated()" class="btn btn-success">MessageBox anzeigen (animiert)</button>
    <button ng-click="openMsg()" class="btn btn-success">MessageBox anzeigen</button>
    <br>
    <br>
    <h4>Toast Boxen</h4>
    <button ng-click="openToastAnimated()" class="btn btn-success">Toast Message anzeigen (animiert)</button>
    <button ng-click="openToast()" class="btn btn-success">Toast Message anzeigen</button>

</div>

