<!-- User info -->
  <div layout="vertical" style="height: 100%;">
	
	<div>
		<div class="minifymeBtn">
			<span class="minifyme" data-action="minifyRightMenu"> <i class="fa fa-arrow-circle-left hit"></i> </span>
			<!--<i class="fa fa-arrow-circle-left hit"></i>-->
		</div>
	</div>

	<div>
		<div class="panel panel-default absenden actions">
			<div class="panel-heading overflow-text btn-primary" title="Laden" data-action="minifyRightMenu"><i class="fa fa-lg fa-fw fa-download"></i> <span>Laden</span></div>
		</div>
		<div class="panel panel-default absenden actions">
			<div class="panel-heading overflow-text btn-primary" title="Speichern" data-action="minifyRightMenu"><i class="fa fa-lg fa-fw fa-save"></i> <span>Speichern</span></div>
		</div>
		<div class="panel panel-default absenden actions">
			<div class="panel-heading overflow-text btn-primary" title="Exportieren" data-action="minifyRightMenu"><i class="fa fa-lg fa-fw fa-share"></i> <span>Exportieren</span></div>
		</div>
		<div class="panel panel-default absenden actions">
			<div class="panel-heading overflow-text btn-primary" title="Drucken" data-action="minifyRightMenu"><i class="fa fa-lg fa-fw fa-print"></i> <span>Drucken</span></div>
		</div>
		
		<div class="panel panel-default absenden">
			<div class="panel-body">
				<div layout="horizontal">
					<button flex class="btn btn-primary" title="Laden" style="margin:1px;"><i class="fa fa-download"></i></button>
					<button flex class="btn btn-primary" title="Speichern" style="margin:1px;"><i class="fa fa-save"></i></button>
					<button flex class="btn btn-primary" title="Exportieren" style="margin:1px;"><i class="fa fa-share"></i></button>
					<button flex class="btn btn-primary" title="Drucken" style="margin:1px;"><i class="fa fa-print"></i></button>
				</div>
<!--
				<button class="btn btn-primary" title="Laden"><i class="fa fa-download"></i></button>
				<button class="btn btn-primary" title="Speichern"><i class="fa fa-save"></i></button>
				<button class="btn btn-primary" title="Exportieren"><i class="fa fa-share"></i></button>
				<button class="btn btn-primary" title="Drucken"><i class="fa fa-print"></i></button>-->
			</div>
		</div>
	</div>
	
	<div>
		<div class="panel panel-default absenden actions">
			<div class="panel-heading overflow-text btn-default" title="Abfrage" data-action="minifyRightMenu"><i class="fa fa-lg fa-fw fa-desktop"></i> <span>Abfrage</span></div>
		</div>
	
		<div class="panel panel-default absenden">
			<div class="panel-body" title="Anzeige">

                <select ng-model="$parent.includePath" ng-options="v.path as v.name for v in visuals" class="form-control"></select>
				<!--<i class="fa fa-desktop" style="float:left;margin:10px 3px;color:rgba(255, 255, 255, 0.6);"></i>-->
				<!--<div class="btn-group btn-block"><!-- style="width:100%;padding:0 0 0 30px;display:block;">-->

						<!--<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="text-align:center;width:100%">Json<span class="caret" style="float: right;margin-top: 8px;"></span></button>-->
						<!--<ul class="dropdown-menu" role="menu">-->
						  <!--<li><a href="#">Json</a></li>-->
						  <!--<li><a href="#">Raw</a></li>-->
						  <!--<li><a href="#">Bar</a></li>-->
						<!--</ul>-->
				<!--</div>-->
			<!--
				<i class="fa fa-desktop" style="float:left;margin:10px 6px;color:rgba(255, 255, 255, 0.6);"></i>
				<div style="width:100%;padding:0 0 0 30px;display:block;">
					<select  class="form-control" style="color:#555;width:100%;display:inline-block;">
						<option>Json</option>
						<option>Raw</option>
						<option>Bar</option>
					</select>
				</div>
				-->
			</div>
		</div>
	</div>
	
    <div>
		<div class="panel panel-default absenden actions">
			<div class="panel-heading overflow-text btn-success"  ng-click="sendQuery()" title="Abfrage" data-action="minifyRightMenu"><i class="fa fa-lg fa-fw fa-play"></i> <span>Abfrage</span></div>
		</div>
		
		<div class="panel panel-default absenden">
			<div class="panel-body">
                <button class="btn btn-success btn-block" ng-click="sendQuery()">Abfrage senden <img src="images/loader.gif" alt="load..." ng-show="queryLoading" /> </button>
			</div>
		</div>
	</div>
	
    <div flex layout="vertical" class="flexToBtnRight">
		<div class="panel panel-default absenden actions">
			<div class="panel-heading overflow-text btn-default" title="Filter" style="position:relative" data-action="minifyRightMenu">
				<i class="fa fa-lg fa-fw fa-filter"></i>
				<i class="badge pull-right inbox-badge ng-scope" ng-if="uidata.filters.length>0">{{uidata.filters.length}}</i>
			</div>
		</div>
	
		<div class="panel panel-default absenden" flex style="overflow:hidden;"  layout="vertical"> 			
			<div class="panel-body" flex style="overflow:auto;">
				<div class="dropFilterArea" data-drop="true" ng-model="uidata.filters" jqyoui-droppable="{onDrop: 'dropFilter'}" data-jqyoui-options="filterDropOptions"><i class="fa fa-lg fa-fw fa-filter"></i><br>Drop Filter here
                </div>
                    <ul data-drop="true" class="lx-filter-list" ng-model="uidata.filters" jqyoui-droppable="{onDrop: 'dropFilter'}" data-jqyoui-options="filterDropOptions">
                        <li ng-repeat="f in uidata.filters">
                            <div class="bi-drag-inline overflow-text">
                                {{ f.name }}
                                <a class="pull-right" ng-click="removeDrag($index, uidata.filters)" href="javascript:void(0)"><i class="glyphicon glyphicon-remove"></i></a>
                            </div>
                            <div>
                                <select size="5" class="form-control" ng-options="val for val in f.uivalues" ng-model="f.values" multiple></select>
                            </div>
                        </li>
                    </ul>
                <!--</div>-->
				<!--<br>Test<br>Test<br>Test<br>Test<br>Test<br>Test<br>Test<br>Test<br>Test<br>Test<br>Test<br>Test<br>Test<br>Test<br>Test<br>Test<br>Test<br>Test-->
			</div>
		</div>
	</div>
	
</div>
<!--

<div style="display:block;width:100%;height:100%;padding-bottom:410px;position:relative;min-height:550px;">
	<div style="display:block;width:100%;height:100%;overflow:hidden;padding:5px 0;">
		<div class="panel panel-default" style="height:100%;"> 
			<div class="panel-heading overflow-text" title="Filter"  data-action="minifyRightMenu"><i class="fa fa-lg fa-fw fa-filter"></i> <span>Filter</span></div>
			<div class="panel-body">
				<div class="dropFilterArea">Drop here</div>
				<br>Test<br>Test<br>Test<br>Test<br>Test<br>Test<br>Test<br>Test<br>Test<br>Test<br>Test<br>Test<br>Test<br>Test<br>Test<br>Test<br>Test<br>Test
			</div>
		</div>
	</div>
	<div style="height:410px;width:100%;display:block;position:absolute;bottom:0;">
	
	<div style="display:block;width:100%;overflow:hidden;min-height:185px;">
			<div class="panel panel-default absenden actions">
				<div class="panel-heading overflow-text" title="Laden" data-action="minifyRightMenu"><i class="fa fa-lg fa-fw fa-download"></i> <span>Laden</span></div>
			</div>
			<div class="panel panel-default absenden actions">
				<div class="panel-heading overflow-text" title="Speichern" data-action="minifyRightMenu"><i class="fa fa-lg fa-fw fa-save"></i> <span>Speichern</span></div>
			</div>
			<div class="panel panel-default absenden actions">
				<div class="panel-heading overflow-text" title="Exportieren" data-action="minifyRightMenu"><i class="fa fa-lg fa-fw fa-share"></i> <span>Exportieren</span></div>
			</div>
			<div class="panel panel-default absenden actions">
				<div class="panel-heading overflow-text" title="Drucken" data-action="minifyRightMenu"><i class="fa fa-lg fa-fw fa-print"></i> <span>Drucken</span></div>
			</div>
			
			<div class="panel panel-default absenden">
				<div class="panel-body">
					<button class="btn btn-primary btn-block"><i class="fa fa-lg fa-fw fa-download"></i> Laden</button>
					<button class="btn btn-primary btn-block"><i class="fa fa-lg fa-fw fa-save"></i> Speichern</button>
					<button class="btn btn-primary btn-block"><i class="fa fa-lg fa-fw fa-share"></i> Exportieren</button>
					<button class="btn btn-primary btn-block"><i class="fa fa-lg fa-fw fa-print"></i> Drucken</button>
				</div>
			</div>
</div>
<div style="display:block;width:100%;min-height:113px;overflow:hidden;">
<div class="panel panel-default">
				<div class="panel-heading overflow-text" title="Anzeige" data-action="minifyRightMenu"><i class="fa fa-lg fa-fw fa-desktop"></i> <span>Anzeige</span></div>
				<div class="panel-body">
					<select  class="form-control" style="color:#555;width:100%;">
						<option>Json</option>
						<option>Raw</option>
						<option>Bar</option>
					</select>
				</div>
			</div>
</div>
<div style="display:block;width:100%;min-height:74px;overflow:hidden;">
			<div class="panel panel-default absenden">
				<div class="panel-heading overflow-text" title="Abfrage" data-action="minifyRightMenu"><i class="fa fa-lg fa-fw fa-play"></i> <span>Abfrage</span></div>
				<div class="panel-body">
					<button class="btn btn-success btn-block">Abfrage senden</button>
				</div>
			</div>
</div>
<div style="display:block;width:100%;min-height:38px;overflow:hidden;">
	<span class="minifyme" data-action="minifyRightMenu"> <i class="fa fa-arrow-circle-left hit"></i> </span>
</div>
	
	</div>
</div>

-->





<!--
<div style="float:left;display:block;width:100%;max-height:22%;overflow:hidden;min-height:185px;">
			<div class="panel panel-default absenden actions">
				<div class="panel-heading overflow-text" title="Laden" data-action="minifyRightMenu"><i class="fa fa-lg fa-fw fa-download"></i> <span>Laden</span></div>
			</div>
			<div class="panel panel-default absenden actions">
				<div class="panel-heading overflow-text" title="Speichern" data-action="minifyRightMenu"><i class="fa fa-lg fa-fw fa-save"></i> <span>Speichern</span></div>
			</div>
			<div class="panel panel-default absenden actions">
				<div class="panel-heading overflow-text" title="Exportieren" data-action="minifyRightMenu"><i class="fa fa-lg fa-fw fa-share"></i> <span>Exportieren</span></div>
			</div>
			<div class="panel panel-default absenden actions">
				<div class="panel-heading overflow-text" title="Drucken" data-action="minifyRightMenu"><i class="fa fa-lg fa-fw fa-print"></i> <span>Drucken</span></div>
			</div>
			
			<div class="panel panel-default absenden">
				<div class="panel-body">
					<button class="btn btn-primary btn-block"><i class="fa fa-lg fa-fw fa-download"></i> Laden</button>
					<button class="btn btn-primary btn-block"><i class="fa fa-lg fa-fw fa-save"></i> Speichern</button>
					<button class="btn btn-primary btn-block"><i class="fa fa-lg fa-fw fa-share"></i> Exportieren</button>
					<button class="btn btn-primary btn-block"><i class="fa fa-lg fa-fw fa-print"></i> Drucken</button>
				</div>
			</div>
</div>
<!--
<div style="display:block;width:100%;max-height:44%;overflow:hidden;">
			<div class="panel panel-default"> 
				<div class="panel-heading overflow-text" title="Filter"  data-action="minifyRightMenu"><i class="fa fa-lg fa-fw fa-filter"></i> <span>Filter</span></div>
				<div class="panel-body">
					<div class="dropFilterArea">Drop here</div>
					<br>Test<br>Test<br>Test<br>Test<br>Test<br>Test<br>Test<br>Test<br>Test<br>Test<br>Test<br>Test<br>Test<br>Test<br>Test<br>Test<br>Test<br>Test
				</div>
			</div>
</div>
<div style="display:block;width:100%;max-height:22%;overflow:hidden;min-height:185px;">
			<div class="panel panel-default absenden actions">
				<div class="panel-heading overflow-text" title="Laden" data-action="minifyRightMenu"><i class="fa fa-lg fa-fw fa-download"></i> <span>Laden</span></div>
			</div>
			<div class="panel panel-default absenden actions">
				<div class="panel-heading overflow-text" title="Speichern" data-action="minifyRightMenu"><i class="fa fa-lg fa-fw fa-save"></i> <span>Speichern</span></div>
			</div>
			<div class="panel panel-default absenden actions">
				<div class="panel-heading overflow-text" title="Exportieren" data-action="minifyRightMenu"><i class="fa fa-lg fa-fw fa-share"></i> <span>Exportieren</span></div>
			</div>
			<div class="panel panel-default absenden actions">
				<div class="panel-heading overflow-text" title="Drucken" data-action="minifyRightMenu"><i class="fa fa-lg fa-fw fa-print"></i> <span>Drucken</span></div>
			</div>
			
			<div class="panel panel-default absenden">
				<div class="panel-body">
					<button class="btn btn-primary btn-block"><i class="fa fa-lg fa-fw fa-download"></i> Laden</button>
					<button class="btn btn-primary btn-block"><i class="fa fa-lg fa-fw fa-save"></i> Speichern</button>
					<button class="btn btn-primary btn-block"><i class="fa fa-lg fa-fw fa-share"></i> Exportieren</button>
					<button class="btn btn-primary btn-block"><i class="fa fa-lg fa-fw fa-print"></i> Drucken</button>
				</div>
			</div>
</div>
<div style="display:block;width:100%;max-height:22%;overflow:hidden;">
<div class="panel panel-default">
				<div class="panel-heading overflow-text" title="Anzeige" data-action="minifyRightMenu"><i class="fa fa-lg fa-fw fa-desktop"></i> <span>Anzeige</span></div>
				<div class="panel-body">
					<select  class="form-control" style="color:#555;width:100%;">
						<option>Json</option>
						<option>Raw</option>
						<option>Bar</option>
					</select>
				</div>
			</div>
</div>
<div style="display:block;width:100%;max-height:15%;overflow:hidden;min-height:74px;">
			<div class="panel panel-default absenden">
				<div class="panel-heading overflow-text" title="Abfrage" data-action="minifyRightMenu"><i class="fa fa-lg fa-fw fa-play"></i> <span>Abfrage</span></div>
				<div class="panel-body">
					<button class="btn btn-success btn-block">Abfrage senden</button>
				</div>
			</div>
</div>
<div style="display:block;width:100%;max-height:7%;overflow:hidden;">
	<span class="minifyme" data-action="minifyRightMenu"> <i class="fa fa-arrow-circle-left hit"></i> </span>
</div>

-->



















<!--
			<div class="login-info">
				<span></span>
			</div>

			<div class="panel panel-default"> 
				<div class="panel-heading overflow-text" title="Filter"  data-action="minifyRightMenu"><i class="fa fa-lg fa-fw fa-filter"></i> <span>Filter</span></div>
				<div class="panel-body">
					<div class="dropFilterArea">Drop here</div>
				</div>
			</div>

			<div class="panel panel-default absenden actions">
				<div class="panel-heading overflow-text" title="Laden" data-action="minifyRightMenu"><i class="fa fa-lg fa-fw fa-download"></i> <span>Laden</span></div>
			</div>
			<div class="panel panel-default absenden actions">
				<div class="panel-heading overflow-text" title="Speichern" data-action="minifyRightMenu"><i class="fa fa-lg fa-fw fa-save"></i> <span>Speichern</span></div>
			</div>
			<div class="panel panel-default absenden actions">
				<div class="panel-heading overflow-text" title="Exportieren" data-action="minifyRightMenu"><i class="fa fa-lg fa-fw fa-share"></i> <span>Exportieren</span></div>
			</div>
			<div class="panel panel-default absenden actions">
				<div class="panel-heading overflow-text" title="Drucken" data-action="minifyRightMenu"><i class="fa fa-lg fa-fw fa-print"></i> <span>Drucken</span></div>
			</div>
			
			<div class="panel panel-default absenden">
				<div class="panel-body">
					<button class="btn btn-primary btn-block"><i class="fa fa-lg fa-fw fa-download"></i> Laden</button>
					<button class="btn btn-primary btn-block"><i class="fa fa-lg fa-fw fa-save"></i> Speichern</button>
					<button class="btn btn-primary btn-block"><i class="fa fa-lg fa-fw fa-share"></i> Exportieren</button>
					<button class="btn btn-primary btn-block"><i class="fa fa-lg fa-fw fa-print"></i> Drucken</button>					
				</div>
			</div>
			
			<div class="panel panel-default">
				<div class="panel-heading overflow-text" title="Anzeige" data-action="minifyRightMenu"><i class="fa fa-lg fa-fw fa-desktop"></i> <span>Anzeige</span></div>
				<div class="panel-body">
					<div>
						<label class="radio"><input type="radio"name="visuals" value="modules/main/home/partials/charts/json.html"> Json </label>
						<label class="radio"><input type="radio"name="visuals" value="modules/main/home/partials/charts/json.html"> Raw </label>
						<label class="radio"><input type="radio"name="visuals" value="modules/main/home/partials/charts/json.html"> Bar </label>
					</div>
				</div>
			</div>
			
			<div class="panel panel-default absenden">
				<div class="panel-heading overflow-text" title="Abfrage" data-action="minifyRightMenu"><i class="fa fa-lg fa-fw fa-play"></i> <span>Abfrage</span></div>
				<div class="panel-body">
					<button class="btn btn-success btn-block">Abfrage senden</button>
				</div>
			</div>
			
			<span class="minifyme" data-action="minifyRightMenu"> <i class="fa fa-arrow-circle-left hit"></i> </span>
			
			-->