<div class="list-item" ng-class="{active: isActive(data.route)}">
  <div class="opensub {{data.hide}}" ng-show="data.children" ng-click="toggleShow(data)"></div>
  <div class="nav-icon {{data.icon}}"></div>
  <a ng-if="data.route && isActiveApp(data.app)" ng-class="{spacer: data.children.length > 0}" ng-href="{{data.route}}"><span>{{data.title}}</span></a>
  <a ng-if="data.route && !isActiveApp(data.app)" ng-class="{spacer: data.children.length > 0}" ng-href="{{data.route}}"
     target="_self"><span>{{data.title}}</span></a>
  <a ng-if="!data.route" ng-class="{spacer: data.children.length > 0}" ng-click="toggleShow(data);"
     style="cursor:pointer;"><span>{{data.title}}</span></a>
</div>
<ul class="display {{data.hide}}" ng-if="data.children.length">
  <li ng-repeat="data in data.children" ng-include="'common/lx_navigation/nav_tree_inside.html'"></li>
</ul>
